@media only screen and (min-width: 960px) {
    header {
        grid-template-columns: 120px 240px 1fr 90px;
    }
    header .social{
        grid-column: 4/5;
        grid-row 1/2;
        justify-content: right;
    }

    /* nav bar */
    nav button{
        display: none;
    }

    nav ul#flex-nav {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-content: centre;
    }

    nav ul li a {
        font-size: 1.1rem;
        border: none;
        padding: .7em 1.5rem;
    }

    #flex-nav {
        background: none;
        border: none;
    }

    /* main grid */
    .boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .hero-picture {
        grid-row: 1/3;
        grid-column: 2/4;
    }

    .fun {
        grid-row: 1/2;
    }

    .weather-icon {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .news {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .highlight {
        grid-column: 4/5;
        grid-row: 1/4;
        grid-template-columns: 1fr;
    }

    .highlight div:nth-child(3) {
        display: block;
    }
}