@media only screen and (min-width: 20em) {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 1.2em;
    }
  
    body {
      font-size: 18px;
      font-family: 'Exo', serif;
    }
  
    .container {
      margin: 0 auto;
      max-width: 950px;
    }
  
    /* Navigation Bar */
  
  
    .toggleMenu {
      display: block;
      color: #8b8b8b;
    }
  
    
  
    nav {
      margin: 0.01rem;
      max-width: 50px;
      background-color: #465362;
      border-radius: 50px;
      border-bottom: 1px solid #e2e2e2;
      float: right;
    }
  
    nav .hover {
      margin: 0 auto;
      max-width: 50px;
      background-color: #c0dfa1;
      border-radius: 10px;
      border-bottom: 1px solid #e2e2e2;
    }
  
    nav .active {
      margin: 0 auto;
      color: #011936;
      max-width: 50px;
      background-color: #82a3a1;
  
    }
  
    .flex-nav {
      list-style: none;
      text-align: left;
      padding: 0;
    }
  
    .flex-nav li:first-child {
      display: block;
    }
  
    .flex-nav li {
      display: none
        
    }
  
    .flex-nav li {
      display: none;
    }
  
    .flex-nav a {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      text-align: left;
      text-decoration: none;
      color: lightgray;
      font-weight: 700;
    }
  
    .flex-nav a:hover {
      color: #465362;
      background-color: #c0dfa1;
    }
  
    .flex-nav a:active {
      color: #011936;
      ;
      background-color: #82a3a1;
    }
  
    .responsive li {
      display: block;
    }
  
    headingtext {
      display: flex;
      flex-direction: column;
      ;
      background-color: #82a3a1;
      text-align: left;
    }
    
    .social {
      margin-right: 1.5rem;
      float: right;
  }
  
  .social svg {
      width: 25px;
      height: auto;
  }
  
    header h1 {
      font-size: 65px;
      font-family: 'Tangerine', serif, cursive, Arial, Helvetica;
      text-align: left;
      color: #011936;
      margin: auto;
    }
  
    header h2,
    h3 {
      font-size: 1.5rem;
      color: #011936;
      font-family: 'Exo', cursive, Arial, Helvetica, sans-serif;
    }
  
    .byline {
      margin-left: 20px;
      text-align: left;
    }
  
    header,
    footer {
      margin: .5rem;
      border-radius: 10px;
      text-align: center;
      background-color: #82a3a1;
      /* background-color: rgb(113, 106, 114); */
      color: whitesmoke;
      padding: .5em;
    }
  
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #82a3a1;
    }
  
    main {
      padding: 15px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      grid-template-columns: 1fr;
  
    }
  
    main h1,
    h2,
    h3 {
      Font-size: 24px;
      color: #011936;
      font-family: 'Exo', serif;
    }
  
    main h2 {
      text-align: center;
    }
  
    .sitelogo {
      width: 100px;
      border-style: none;
      box-shadow: none;
      float: left;
      background-color: royalblue;
    }
  
    .maincontentbox {
      display: block;
      text-align: center;
      line-height: 35px;
      width: 100%;
      margin: 10px 10px 10px 10px;
      border: 1px dashed #000;
      background-color: #eee;
      color: #444;
      font-style: italic;
    }
  
  
    main>.main_title {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    main>.main_content {
      justify-content: left;
    }
  
    .main_content>ul {
      display: flex;
      flex-direction: column;
    }
  
    img {
      margin: 5px 5px 5px 5px;
      border-style: solid;
      width: 90%;
      height: auto;
    }
  
    .logo {
      width: 100px;
      border-style: none;
      box-shadow: none;
      float: left;
    }
  
    p>img>.logo {
      margin: 5px 5px 5px 5px;
      border-style: solid;
      width: 90%;
      height: auto;
    }
  
  
    #footerInfo>p>a {
      color: whitesmoke;
    }
  
    p {
      margin: .2em;
      color: black;
      padding: .1em;
    }
  
    #footerInfo>p {
      color: whitesmoke;
    }
  
    #footer_link>a {
      color: whitesmoke;
    }
  
    section {
      margin: 4px;
      border-color: black;
      background-color: rgb(223, 223, 236);
      text-align: left;
    }
  
    figure {
      display: block;
      /* margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 40px;
      margin-inline-end: 40px; */
    }
  