@media only screen and (min-width: 640px) {
    nav button {
        margin-top: -.6rem;
        font-size: 2.5rem;
    }
    #banner {
        font-size: 1.2rem;
    }
    
    header {
        grid-template-columns:  120px auto 110px 40px;
    }
        
    header .social img {
        width: 35px;
    }
    
    h1 {
        font-size: 40px;
        line-height: .6; 
    }
    
    #byline {
        font-size: 21px;
    }
        
    nav ul li a {
        padding: .3rem .6rem;
    }
        
    /* tablet grid layout */
    .boxes {
        grid-template-columns: 60% 40%;
    }
        
    .hero-image {
        grid-column: 1/3;
    }
        
    .fun {
        grid-row: 5/6;
    }
        
    .weather-icon {
        grid-column: 2/3;
        grid-row: 5/6;
    }
        
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
        
    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 3/4;
    }
        
    .highlight {
        grid-column: 1/3;
        grid-row: 4/5;
        grid-template-columns: 1fr 1fr;
    }
        
    /* footer */
    .lower {
        grid-template-columns:  150px 1fr 1fr;
        padding: 15px 40px 10px 40px;
        align-items: center;
    }
    .web {
        text-align: right;
    }
    }